html, body {
  padding: 0;
  margin: 0;
  background: gray;
}

header {
  text-align:center;
  background: darkred;
  color: lightgrey;
  padding:4px 0px;
}

.info h2 {
  margin: 0 25%;
  padding: 10px;
  display: inline-block;
  background: palegreen;
  color: indigo;
}

.image-1 {
  padding-top:1px;
  margin: 0 25%;
  width: 50%
}

.image-1 img {
  width: 100%;
  height: auto;
  border: 3px solid black;
}

.under-image h3{
  text-align: center;
  border: 3px solid black;
  width: 50%;
  margin: 0 25%;
  background: lightblue;
  color: #444;
}

.popout-main {
  background:cadetblue;
}

#civic-main {
  padding-top: 0;
}

#explain {
  text-align: center;
  padding-bottom:25px;
  font-size: 18px;
}

.footer p {
  float: right;
  padding-right: 10px;
}
