html, body {
  padding: 0;
  margin: 0;
}

header {
  text-align:center;
  background: darkred;
  color: lightgrey;
  padding:4px 0px;
}

.info h2{
  padding-left: 15px;
  background: palegreen;
  color: indigo;
}

.image-1 img{
  padding: 5px;
  width: 500px;
  height: auto;
}

.under-image h3{
  padding-left: 15px;
  background: lightblue;
  color: #444;
}
